.profile-form__content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.profile-form__heading {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}
.form {
    margin: 0 auto;
    width: 55%;
    text-align: center;
}
.form {
    margin: 0 auto;
    width: 55%;
    text-align: center;
}
.form__group {
    margin-bottom: 15px;
}
.form__group-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-size: 20px;
}

.form__label--item {
    font-size: 25px;
    font-weight: 500;
}
.profile-form__btn {
    padding: 10px;
    width: 680px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #f84e4e;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    margin-top: 60px;
}
.form__input--text input {
    padding: 10px;
    width: 680px;
    height: 40px;
    border: 1px solid #0c0000;
    border-radius: 3px;
    text-align: left;
}
.file-input {
    display: none;
}
.profile-image {
    display: flex;
    align-items: center;
    border: 1px solid #f84e4e;
}
.profile-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #b0aeae;
    cursor: pointer;
}
.form__error {
    margin-top: 2px;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .profile-form__content {
        padding: 15px 10px;
    }
    .profile-form__heading {
        font-size: 20px;
    }
    .form {
        width: 95%;
    }
    .form__group-title {
        font-size: 16px;
        margin-left: 80px;
        text-align: left;
    }
    .form__label--item {
        font-size: 18px;
    }
    .form__input--text input,
    .profile-form__btn {
        width: 80%;
        max-width: 100%;
    }
    .form__input--text input {
        font-size: 16px;
    }
    .profile-form__btn {
        font-size: 18px;
        height: 45px;
        margin-top: 30px;
    }
    .file-button {
        padding: 8px 16px;
        font-size: 14px;
    }
    .profile-image {
        flex-direction: column;
        align-items: center;
    }
    .profile-icon {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }

    .form__error {
        font-size: 13px;
        text-align: center;
    }
}
