.profile-form__content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.profile-form__heading {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}
.form {
    margin: 0 auto;
    width: 55%;
    text-align: center;
}
.form {
    margin: 0 auto;
    width: 55%;
    text-align: center;
}
.form__group-title {
    text-align: left;
}
.form__label--item {
    font-size: 25px;
    font-weight: 500;
}
.profile-form__btn {
    padding: 10px;
    width: 500px;
    height: 55px;
    border: none;
    border-radius: 5px;
    background: #f84e4e;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    margin-top: 60px;
}
.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
