.item-card {
    padding: 15px;
    text-align: center;
    margin: 10px;
}
.item-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.item-name{
    text-align: left;
}

.heading {
    margin-left: 40px;;
    font-size: 20px;
    display: flex;
    padding: 5px;
}
.mylist {
    margin-left: 20px;
}
.recommend{
    color: rgb(250, 5, 5);
}