.content {
    margin: 20px;
}
.toppage-list {
    font-size: 20px;
    display: flex;
    height: 47px;
    width: 1512px;
    top: 127px;
}
.profile__info {
    display: flex;
    align-items: center;
    margin-left: 500px;
    margin-top: 60px;
}
.profile-icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #b0aeae;
    cursor: pointer;
}
.profile-name {
    font-size: 30px;
    margin-left: 100px;
}
.listeditem {
    margin-left: 30px;
    color: black;
    text-decoration: none;
}
.boughtitem {
    color: rgb(250, 5, 5);
    margin-left: 80px;
}
.products-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.products-card {
    padding: 15px;
    text-align: center;
    margin: 10px;
}
.products-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.profile-form__btn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #f84e4e;
    background-color: #fff;
    border: 1px solid #f84e4e;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-left: 1100px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .products-row {
        grid-template-columns: repeat(2, 1fr); /* タブレットは2列が見やすい */
    }
    .products-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .profile__info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px auto 0 auto;
    }
    .profile-icon {
        width: 100px;
        height: 100px;
    }
    .profile-name {
        font-size: 24px;
        margin-left: 0;
        margin-top: 20px;
        margin-left: 30px;
    }
    .profile-form__btn {
        margin-left: 0;
        margin: 30px auto 0 auto;
        display: block;
        width: 70%;
        max-width: 300px;
        font-size: 16px;
    }
}
