.content {
    margin: 20px;
}
.toppage-list {
    font-size: 20px;
    display: flex;
    height: 47px;
    width: 1512px;
    top: 127px;
} 
.listeditem {
    margin-left: 30px;
    color: black;
    text-decoration: none;
}
.boughtitem {
    color: rgb(250, 5, 5);
    margin-left: 80px;
}
.profile-form__btn {
 width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #f84e4e;
    background-color: #fff;
    border: 1px solid #f84e4e ;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-left: 1200px;
}